# Arithmetic operation in Pandas

# Addition

In [31]:
import pandas as pd

#Here we have created the data of column A and B and we are going to add this data 

var = pd.DataFrame({"A":[0,0,1,1],"B":[0,1,0,1]})
var

var["ADD"] = var["A"] + var["B"]
var

   A  B  ADD
0  0  0    0
1  0  1    1
2  1  0    1
3  1  1    2

In [50]:
var1 = pd.DataFrame({"A":[0,0,1,1],"B":[0,1,0,1]})
var1["ADD"] = var["A"] - var["B"] 
var1

# Here we can check the logical condition and it return true of false based on  the conditions
var1["ADD1"] = var1["A"] == 1
var1

   A  B  ADD   ADD1
0  0  0    0  False
1  0  1   -1  False
2  1  0    1   True
3  1  1    0   True