# Read CSV File

In [2]:
import pandas as pd

# CSV File Creation
# And writing the Data

var = pd.DataFrame({"Name":["Siddhant","Santosh","Om","Sai"],"Age":[20,21,21,23],"Weight":[55,56,54,67]})
var1 = var.to_csv("CSV FILE1",index = False)

# Reading the data

var2 = pd.read_csv("C:\\Users\\USER\\Documents\\Pandas in Python\\CSV FILE1")
var2

       Name  Age  Weight
0  Siddhant   20      55
1   Santosh   21      56
2        Om   21      54
3       Sai   23      67

# Operation on CSV READ File

# nrows Operation

In [29]:
var3 = pd.read_csv("C:\\Users\\USER\\Documents\\Pandas in Python\\CSV FILE1",nrows = 2)
var3

# Here we used the "nrows" Function which displays the no. of rows specified by user

       Name  Age  Weight
0  Siddhant   20      55
1   Santosh   21      56

# usecols Operation

In [31]:

var4 = pd.read_csv("C:\\Users\\USER\\Documents\\Pandas in Python\\CSV FILE1",usecols = [0,2])  # States that the column no
                                                                                               #  0 and 3 is displayed rest 
                                                                                               # not displayed
var4

# Here we used the "usecols" function which displays the no. of columns specified by user

       Name  Weight
0  Siddhant      55
1   Santosh      56
2        Om      54
3       Sai      67

# skiprows Operation

In [43]:
var5 = pd.read_csv("C:\\Users\\USER\\Documents\\Pandas in Python\\CSV FILE1",skiprows = 2)
var5

  Santosh  21  56
0      Om  21  54
1     Sai  23  67

# index Operation

In [63]:
var6 = pd.read_csv("C:\\Users\\USER\\Documents\\Pandas in Python\\CSV FILE1",index_col = ["Name"])
var6

          Age  Weight
Name
Siddhant   20      55
Santosh    21      56
Om         21      54
Sai        23      67

# header Operation

In [ ]:
var7 = pd.read_csv("C:\\Users\\USER\\Documents\\Pandas in Python\\CSV FILE1",header = [1]) # Here we made the 0th 
                                                                                            # row as header
var7

# names Operation

In [73]:
var8 = pd.read_csv("C:\\Users\\USER\\Documents\\Pandas in Python\\CSV FILE1",names = ["Column1","Column2","Column3"])
var8

    Column1 Column2 Column3
0      Name     Age  Weight
1  Siddhant      20      55
2   Santosh      21      56
3        Om      21      54
4       Sai      23      67

# dtype Operation

In [84]:
var9 = pd.read_csv("C:\\Users\\USER\\Documents\\Pandas in Python\\CSV FILE1",dtype = {"Weight":"float"})
# Here we converted the datatype of "Weight" column (int) to (float) using dtype 
var9

       Name  Age  Weight
0  Siddhant   20    55.0
1   Santosh   21    56.0
2        Om   21    54.0
3       Sai   23    67.0